@using static RaoVids.Components.InfoBox
@inject Services.ChannelService _channelService

@code {
    [SupplyParameterFromForm]
    public string? channelIdToAdd { get; set; }

    private InfoBoxType _addChannelStatus = InfoBoxType.Info;
    private string? _addChannelMessage;

    private int _channelCount;
    private IEnumerable<Models.Channel> _allChannels = Enumerable.Empty<Models.Channel>();

    protected override async Task OnInitializedAsync()
    {
        _channelCount = await _channelService.GetChannelCount();
        _allChannels = await _channelService.GetAllChannels();
    }

    private string FormatLastUpdated(DateTimeOffset dateTimeOffset)
    {
        if (dateTimeOffset.Year <= 1970)
        {
            return "Never";
        }
        else
        {
            return dateTimeOffset.ToLocalTime().ToString("g");
        }
    }

    private async Task SubmitAddChannel()
    {
        // Clear error/info status box.
        ClearStatus();

        // Sanitize input.
        var trimmedChannelId = channelIdToAdd?.Trim();

        if (trimmedChannelId == null || trimmedChannelId.Length == 0)
        {
            SetStatus(InfoBoxType.Error, "No channel ID or name specified");
            return;
        }

        // Add channel and catch any errors.
        try
        {
            await _channelService.AddChannel(trimmedChannelId);
			SetStatus(InfoBoxType.Info, "Added channel " + trimmedChannelId);
        }
        catch (Exception ex)
        {
            SetStatus(InfoBoxType.Error, ex.Message);
        }
    }

    private void SetStatus(InfoBoxType type, string message)
    {
        _addChannelStatus = type;
        _addChannelMessage = message;
	}

    private void ClearStatus()
    {
        _addChannelStatus = InfoBoxType.Info;
        _addChannelMessage = null;
	}
}

<p>@_channelCount channel(s) registered</p>

<h2>Channels</h2>

<!-- Channels table -->
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Channel Name</th>
      <th scope="col">Last Updated</th>
      <th scope="col">Video Count</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var channel in _allChannels)
      {
          <tr>
              <td><input type="checkbox" /></td>
              <th scope="row" title="@channel.ChannelId">@channel.ChannelName</th>
              <td>@FormatLastUpdated(channel.LastUpdatedAt)</td>
              <td>@channel.VideoCount</td>
          </tr>
	}
  </tbody>
</table>

<h2>Add Channel</h2>
<InfoBox Message="@_addChannelMessage" Type="@_addChannelStatus" />

<form method="post" @onsubmit="SubmitAddChannel" @formname="add-channel-form">
    <AntiforgeryToken />
    <div>
        <label>Channel ID or Username: </label>
		<InputText @bind-Value="channelIdToAdd" />
        <button type="submit">Submit</button>
    </div>
</form>
